@font-face {
  font-family: 'Source Sans 3';
  src: url(fonts/SourceSans3/SourceSans3-Bold.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

/*Generlla regler för alla element - G*/
html {
  font-size: 105%;
}

body {
  font: 300 1rem/1.375 "Roboto", Georgia, serif;
  color: #212931;
}

h1,
h2,
h3,
nav ul,
footer,
table th {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 0.075em;
}

h1 {
  /*only title*/
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #7e1919;

}

h2 {
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  text-align: justify;
  margin: 0 0 2rem 0;
  font-size: 1rem;
}

/* Bakgrgund, färg och marginaler */

main {
  background-color: #8b9623;
}

#container {
  background: url("../images/sun.jpg") no-repeat fixed;
  background-size: 100% auto;
}

nav{
  background-color: #bb1cbb;
}
footer{
  background-color: rgba(231, 99, 5, 0) ;
}


main,
footer,
nav,
#container>header,
aside {
  margin: 0 auto;
  max-width: 74rem;
}

/*lägg in grid här*/



/*Header*/
#container>header {
  border: 5px solid #7a2222;
  color: #7e1919;
}

#container>header>p {
  color: #7e1919;
  font-size: 2rem;
  text-align: center;
  line-height: 1.1;
}

/*Nav*/
nav {
  font-size: 1.2rem;
  max-width: 72rem;
  margin: 0 auto;
}

nav ul {
  text-transform: uppercase;
  display: flex;
  list-style-type: none;
  line-height: 2;
}

nav ul li a {
  color: #08546B;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: #000;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

/*Main - products, classestable and story*/
/*Products*/
#products article:nth-child(even) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem 4rem auto;
  grid-template-areas:
    "img h2"
    "img h3"
    "img p";
    margin: 4rem;
}
#products article:nth-child(odd) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem 4rem auto;
  grid-template-areas:
    "h2 img"
    "h3 img"
    "p img";
    margin: 4rem;
}
#products article img{
  grid-area: img;
  margin: 2rem;
}
#products article h2{
  grid-area: h2;
}
#products article h3{
  grid-area: h3;
}
#products article p{
  grid-area: p;
}

.date {
  text-align: center;
}

/*CLASSES*/
#classes {

}

#classes table {
  margin: 0 auto;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(220, 220, 220, 0.25);
}

/*Story*/
#story{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "text img" ;
  margin: 4rem;
  
}
#story img{
  grid-area: img;
  margin: 2rem;
}
#story h2,
#story h3,
#story p {
  grid-area: text;
 display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}



/*
section>header p {
  font-style: italic;
  text-align: center;
} */

/* ?
video, img {
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}
/*Slut på main*/


/*newsletter FORM*/
#newsletter {}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#newsletter p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#newsletter h3 {
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
}

#newsletter li {
  list-style-type: none;
  margin: 1rem;
}

input,
select {
  border: 1px solid #dfdbdb;
  color: #212931;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #212931;
  color: #fff;
  border: none;
  padding: 0.5rem 0.8rem;
}

input:focus,
select:focus {
  outline: none;
  background-color: #18bfef;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  padding: 6rem 0 2rem;
}

footer p {
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

/*Grid*/